{% for roles in app.user.roles %}
    {% if roles == "ROLE_CLIENT" %}
        <li>
            <a href="{{ path('user_edit2', {'id':app.user.id}) }}">Profil</a>
        </li>

        <li>
            <a href="{{ path('produit_products') }}">Listes des produits</a>
        </li>

        <li>
            <a href="{{ path('user_panier', {'id' : app.user.id}) }}">Panier</a>
        </li>
    {% endif %}
{% endfor %}