{% extends 'Sandbox/Layouts/layout4.html.twig' %}

{% block title %}{{ parent() }} : viewendur{% endblock %}

{% block titre_principal %}View En Dur{% endblock %}

{% block vue %}
    <p>
        Bloc Vue !
    </p>
{% endblock %}