{% extends 'Sandbox/Layouts/layout4.html.twig' %}

{% block title %}{{ parent() }} : Formulaire{% endblock %}

{% block titre_principal %}Formulaire : Film Edit{% endblock %}

{% block vue %}
    <h2>Formulaire du film</h2>

    {{ form(myform) }}
{% endblock %}