{% extends 'Sandbox/Layouts/layout1.html.twig' %}

{% block title %}{{ parent() }} : vue 2{% endblock %}

{% block titre_principal %}Titre principal de la vue 2{% endblock %}

{% block vue %}
    <p>
        Ceci est un paragraphe de la vue 2.
    </p>
{% endblock %}