{% extends 'Sandbox/Layouts/layout3.html.twig' %}

{% block title %}{{ parent() }} : vue 5{% endblock %}

{% block titre_principal %}Titre principal de la vue 5{% endblock %}

{% block vue %}
    <p>
        Ceci est un paragraphe de la vue 5.
    </p>
{% endblock %}